.title {
    text-align: center;
    margin: 25px 0;
}

.form-container {
    max-width: 450px;
    margin: auto;
}

.post-form {
    height: 200px;
}

.ui.teal.button:focus, .ui.teal.buttons .button:focus {
    background-color: #00b5ad;
}